<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 关键字请使用大写字母, 表名, 属性名用小写 -->
<mapper namespace="cn.basic.mapper.BasicMapper">
	<resultMap type="cn.basic.model.BasicData" id="resultMap">
		<id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result column="category_name" property="categoryName" jdbcType="VARCHAR" />
		<result column="category" property="category" jdbcType="VARCHAR" />
		<result column="create_name" property="createName" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="VARCHAR" />

	</resultMap>


	<sql id="insertList">
		category_name,category,create_name,update_date
	</sql>

	<insert id="insert" parameterType="cn.basic.model.BasicData"
			useGeneratedKeys="true" keyColumn="id">
		INSERT INTO t_basic_data(
		<include refid="insertList" />
		) VALUES (
		#{categoryName}, #{category},#{createName},#{updateDate})
	</insert>
	
</mapper>  