<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 关键字请使用大写字母, 表名, 属性名用小写 -->
<mapper namespace="cn.company.mapper.CompanyMapper">
	<resultMap type="cn.basic.model.BasicData" id="resultMap">
		<id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result column="category_name" property="categoryName" jdbcType="VARCHAR" />
		<result column="category" property="category" jdbcType="VARCHAR" />
		<result column="create_name" property="createName" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="VARCHAR" />

	</resultMap>


	<sql id="insertList">
		category_name,category,create_name,update_date
	</sql>

	<sql id="columnList">
		id,category_name,category,create_name,update_date
	</sql>

	<insert id="insert" parameterType="cn.basic.model.BasicData"
			useGeneratedKeys="true" keyColumn="id">
		INSERT INTO t_basic_data(
		<include refid="insertList" />
		) VALUES (
		#{categoryName}, #{category},#{createName},#{updateDate})
	</insert>

	<update id="updateByPrimaryKey" parameterType="cn.basic.model.BasicData">
		UPDATE t_basic_data
		SET category_name = #{categoryName},category = #{category}, create_name = #{createName},
		update_date = #{updateDate}
		WHERE id=#{id}
	</update>

	<select id="selectByParams" resultMap="resultMap">

        SELECT * FROM t_basic_data WHERE 1=1

	</select>

	<delete id="deleteByPrimaryKey" parameterType="cn.basic.model.BasicData">
		DELETE FROM t_basic_data WHERE id=#{id}
	</delete>
	
</mapper>  